* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: -1.5%;
}

/* NAV */

nav {
  /* width: 1680px;  */
  width: 100vw;
  height: 80px;
  background-color: #152237;
}

a {
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  background-image: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 0.8) 3.11%,
      rgba(21, 183, 226, 0.8) 98.45%
    ),
    url(/site_statique/images/bg-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 80vh;
}

.hero-text {
  justify-items: center;
  align-content: center;
}

/* Cartes */

.cartes-colonnes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text_populaire {
  position: relative;
  top: 30px;
  left: 97px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 136px;
}

.cards {
  width: 307px;
  height: 362px;
}

.bouton {
  display: flex;
  justify-content: center;
}

.plus_formations {
  width: 225px;
  height: 40px;
  background-color: #152237;
  color: white;
  border-radius: 6px;
}

/* FORMATIONS RECENTES */

.text_recents {
  color: white;
  position: relative;
  top: 30px;
  left: 97px;
}

.recents {
  display: flex;
  flex-direction: column;
  background-color: #152237;
}

.englobe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 136px;
}

.test {
  width: 225px;
  height: 40px;
  border-radius: 6px;
}

.btn {
  display: flex;
  justify-content: center;
}

.bouton,
.btn {
  margin-bottom: 50px;
}

.avis {
  text-align: center;
}

.juliette {
  width: 689px;
  height: 306px;
}

.camille {
  width: 689px;
  height: 306px;
}
i {
  display: block;
}
/* .logo,
.formation,
.connexion,
.inscription,
input {
  position: relative;
}

.logo {
  top: 25px;
  left: 98px;
}

.formation {
  top: 31px;
  left: 350px;
}

.connexion {
  top: 20px;
  left: 1300px;
  width: 130;
  height: 40px;
}

.inscription {
  top: 20px;
  left: 1449px;
  width: 130;
  height: 40px;
}

input {
  width: 477px;
  height: 40px;
  top: 20px;
  left: 603px;
} */
