* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: -1.5%;
}

h2 {
  width: 80vw;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: -1.5%;
}

h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.5%;
}

h6 {
  width: 100vw;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: -1.5%;
}

a {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
}

/* NAV */

nav {
  /* width: 1680px; */
  width: 100%;
  height: 80px;
  background-color: #152237;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 84px;
  height: 31px;
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: white;
}

.search_nav {
  padding: 10px;
  border: 2px solid white;
  border-radius: 6px;
}

.connexion,
.inscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 6px;
  height: 18px;
}

.connexion {
  background-color: white;
  color: black;
  margin-right: 40px;
}

.inscription {
  background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
}

.boutons {
  display: flex;
  flex-direction: row;
  padding-right: 100px;
}

.burger {
  width: 56;
  height: 56;
  opacity: 1;
  top: 12px;
  left: 319px;
  display: none;
}

/* HERO */
.hero {
  background-image: linear-gradient(
      94.01deg,
      rgba(68, 221, 138, 0.8) 3.11%,
      rgba(21, 183, 226, 0.8) 98.45%
    ),
    url(/site_statique/images/bg-header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  text-align: center;
}

.hero_btn {
  width: 130px;
  height: 40px;
  border-radius: 6px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
}

/* Cartes */

.cartes-colonnes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.prix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -35px;
  left: 215px;
  background-color: #152237;
  box-shadow: 5px 4px 13.2px -1px #00000040;
  width: 80px;
}

.prix_normal {
  padding-right: 5px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1.5%;
  color: white;
}

.prix_barre {
  padding-top: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 7px;
  letter-spacing: -1.5%;
  text-decoration: line-through;
  color: white;
}

.prix_recent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -35px;
  left: 215px;
  background-color: white;
  box-shadow: 5px 4px 13.2px -1px #00000040;
  width: 80px;
  border-radius: 96px;
  width: 100px;
  opacity: 1;
  border-radius: 93px;
}

.prix_normal_recent {
  padding-right: 5px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1.5%;
  color: #152237;
}

.prix_barre_recent {
  padding-top: 5px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 7px;
  letter-spacing: -1.5%;
  text-decoration: line-through;
  color: #152237;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 136px;
  padding-bottom: 80px;
}

.cards {
  width: 307px;
  height: 362px;
  margin-bottom: 25px;
}

.bouton {
  display: flex;
  justify-content: center;
}

.plus_formations {
  width: 225px;
  height: 40px;
  background-color: #152237;
  color: white;
  border-radius: 6px;
}

.opaque {
  opacity: 30%;
}

.prix {
  width: 100px;
  /* height: 31.583885192871094; */
  opacity: 1;
  border-radius: 93px;
}

/* FORMATIONS RECENTES */

.blanc {
  color: white;
}

.text_recents {
  color: white;
  position: relative;
  top: 30px;
  left: 97px;
}

.recents {
  display: flex;
  flex-direction: column;
  background-color: #152237;
  justify-content: space-around;
  height: 800px;
}

.englobe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-top: 136px;
  padding-bottom: 80px; */
}

.test {
  width: 225px;
  height: 40px;
  border-radius: 6px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
}

.btn {
  display: flex;
  justify-content: center;
}

.bouton,
.btn {
  margin-bottom: 50px;
}

/* Avis clients */

.avis {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.avis-colonnes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 597px;
}

.clts {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.img_juliette,
.img_camille {
  border-radius: 50%;
  overflow: hidden;
}

.juliette {
  width: 700px;
  height: 306px;
  margin: 0px;
}

.text_juliette {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -1.5%;
}

.camille {
  width: 700px;
  height: 306px;
}

.text_camille {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -1.5%;
}

/* Avantages */

.avantages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100vw;
  height: 641px;
  background: #f5f5f5;
}

.contenu {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin-left: 50px;
}

.liste {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.suivi,
.exercices,
.possibilite,
.qualite,
.auto,
.echanges {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

/* Création */

.text_creation_responsive {
  display: none;
}

.creation {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #44dd8a;
  height: 641px;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.texte {
  width: 616px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.5%;
}

.text_creation {
  width: auto;
}

.argent,
.avant,
.controle,
.fonction,
.prof {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

/* A propos */

.propos {
  display: flex;
  flex-direction: row;
  height: 740px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.partie_1 {
  width: 686px;
  margin-left: 100px;
}

.partie_2 {
  width: 50%;
  background: #152237;
  height: 740px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* formulaire */

.contact {
  position: relative;
  top: 50px;
  padding-bottom: 35px;
  width: 100%;
  text-align: center;
  font-family: Montserrat;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}

.formulaire {
  height: auto;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.form_row {
  display: flex;
  flex-direction: row;
}

.nom {
  margin-right: 135px;
}

input {
  background-color: #152237;
  color: white;
}

#envoi {
  background-color: #44dd8a;
  color: #152237;
}

.input_nom,
.input_email {
  width: 600px;
  height: 45px;
}

.input_message {
  width: 1335px;
  height: 195px;
}

.btn_envoie {
  width: 351px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid #44dd8a;
  margin-bottom: 50px;
}

form {
  height: 585px;
}

.barre_contact {
  position: relative;
  top: 35px;
  margin-left: auto;
  margin-right: auto;
  background: #44dd8a;
  width: 350px;
  height: 2px;
}

/* Footer */

footer {
  height: 489px;
  background: #152237;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.trait {
  display: block;
  height: 18px;
  width: 100%;
  background: linear-gradient(90.01deg, #44dd8a 2.38%, #18a0fb 100%);
}

.footer_1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logo_footer {
  width: 243px;
  height: 87px;
}

.titre_legal,
.titre_coordonnees {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1.5%;
  color: #ffffff;
}

.text_legal,
.text_coordonnees {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1.5%;
  color: #ffffff;
}

.ping,
.tel,
.mail {
  display: flex;
  flex-direction: row;
  color: white;
}

.boutons_footer {
  display: flex;
  flex-direction: column;
}

.connexion_footer,
.inscription_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  background-color: white;
  color: black;
  margin-right: 40px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.inscription_footer {
  background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
}

.barre {
  margin-left: auto;
  margin-right: auto;
  background: #44dd8a;
  width: 1482px;
  height: 2px;
}

.footer_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1.5%;
  color: #ffffff;
}

.p2 {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

/* .formation,
.connexion,
.inscription,
input {
  position: relative;
}

.logo {
  top: 25px;
  left: 98px;
}

.formation {
  top: 31px;
  left: 350px;
}

.connexion {
  top: 20px;
  left: 1300px;
  width: 130;
  height: 40px;
}

.inscription {
  top: 20px;
  left: 1449px;
  width: 130;
  height: 40px;
}

input {
  width: 477px;
  height: 40px;
  top: 20px;
  left: 603px;
} */

/* typo différents textes */

h1 {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
}

.phero {
  font-family: Montserrat;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -1.5%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.avis {
  position: relative;
  top: 75px;
}

.text_populaire,
.text_recents {
  position: relative;
  top: 60px;
  left: 100px;
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  line-height: 72px;
  letter-spacing: -1.5%;
}

.hero_btn

/* Majuscules */

.avis,
.text_avantages,
.apropos,
.text_creation {
  font-family: Montserrat;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 36px;
  letter-spacing: -1.5%;
  text-transform: uppercase;
}

/* Icones */

.avantages .contenu i,
.creation .texte i {
  margin-top: 7px;
  margin-right: 10px;
}

/* 360px ou 576px responsive */

@media screen and (width <= 393px) {
  /* NAV */

  .burger {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav > .logo {
    margin: 0;
  }

  nav > a,
  .connexion,
  .inscription,
  .search_nav {
    display: none;
  }

  /* HERO */

  .hero-text {
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 15px;
    line-height: 200%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  /* Populaire */

  .text_populaire {
    padding-bottom: 90px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.5%;
    width: 100%;
    text-align: center;
  }

  .row {
    margin: 0px;
    padding: 0px;
  }

  /* Cards */

  .cartes-colonnes {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards {
    /* width: 100%; */
    margin-bottom: 150px;
  }

  /* Recents */

  .recents {
    height: auto;
  }

  .englobe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .text_recents {
    /* top: 0;
    left: 0;
    margin-left: 70px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.5%;
    text-align: center; */
    padding-bottom: 90px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1.5%;
    width: 100%;
    text-align: center;
  }

  /* Clients */

  .clts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    height: auto;
  }

  .avis {
    margin-bottom: 50px;
    top: 0px;
  }

  .juliette {
    width: 250px;
    margin-bottom: 70px;
  }

  .avis-colonnes {
    height: auto;
  }

  .camille {
    width: 250px;
  }
  .juliette,
  .camille {
    height: auto;
    width: 90%;
  }
  /* Avantages */

  .avantages {
    margin-top: 100px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text_avantages {
    margin: 0px;
    width: 200px;
  }

  .contenu {
    margin: 0;
  }

  .image_avantage {
    width: 327px;
    height: 244px;
    padding-bottom: 50px;
  }

  /* Creation */

  .creation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    order: -1;
  }

  .image_creation {
    width: 324px;
    height: 243px;
  }

  .text_creation {
    display: none;
  }

  .text_creation_responsive {
    display: block;
    width: 100%;
  }

  .texte {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 90%;
  }

  /* A propos */

  .propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .partie_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0;
  }

  .partie_2 {
    width: 100%;
  }

  .logo_propos {
    width: 214px;
    height: 77px;
  }

  /* Formulaire */

  .formulaire {
    display: flex;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form_row {
    display: flex;
    flex-direction: column;
  }

  .form_row,
  .input_message,
  .input_nom,
  .input_email {
    width: 356px;
  }

  #pin,
  #telephone,
  #lettre,
  .barre_contact {
    display: none;
  }

  /* Footer */

  .footer_1,
  .footer_2,
  .coordonnes,
  .boutons_footer {
    display: flex;
    flex-direction: column;
  }
  .p1,
  .p2,
  .barre,
  .boutons_footer {
    display: none;
  }

  .titre_legal,
  .titre_coordonnees {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
