* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

h2 {
  font-family: Montserrat;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 36px;
  /* leading-trim: NONE; */
  line-height: 72px;
  letter-spacing: -1.5%;
}

.hero {
  display: flex;
  flex-direction: row;
}

.cartes-colonnes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cards {
  width: 307px;
  height: 362px;
}
/* LIGNES CODE HERO DEGRADE */
/* background: linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
 */
nav {
  width: 1680px;
  height: 80px;
  background-color: #152237;
}

.logo,
.formation,
.connexion,
.inscription,
input {
  position: relative;
}

.logo {
  top: 25px;
  left: 98px;
}

.formation {
  top: 31px;
  left: 350px;
}

.connexion {
  top: 20px;
  left: 1300px;
  width: 130;
  height: 40px;
}

.inscription {
  top: 20px;
  left: 1449px;
  width: 130;
  height: 40px;
}

input {
  width: 477px;
  height: 40px;
  top: 20px;
  left: 603px;
}
